body {
    background-image: url(/asset/img/w11898-small.jpg);
    background-size: cover;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: solid rgb(255, 255, 255);
    margin: 1% 30%;
    font-family: "Grape Nuts";
    font-size: 3em;
    color: rgb(255, 255, 255);

}

.articleContainer {
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0);
    margin: 5% 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#Todolist {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2% 40%;
    padding: 2%;
    box-shadow: 0px 0px 5px 5px rgb(105, 94, 94);
    border-radius: 15px;
}

.list {
    border-radius: 12px;
    box-shadow: 0px 0px 5px 5px rgb(105, 94, 94);
    margin: 2% 40%;
    padding: 2%;
    color: black;
    display: none;
}

.list div {
    padding: 0;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

input {
    border: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0);
    text-align: center;
    padding: 2%;
    margin: 3%;
}

button {
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgb(105, 94, 94);
    text-align: center;
    margin: 3%;
    padding: 2%;
}